{% extends 'aosUserBundle::AOSlayout.html.twig' %}

{% block body %}
    <div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

        <div class="logo">
            AOS-UserBundle
        </div>
        <div class="login">

            <div class="form-login">
                <p>{{ 'registration.check_email'|trans({'%email%': user.email}, 'FOSUserBundle') }}</p>
            </div>
        </div>
    </div>

{% endblock body %}
