<div class="main-login col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

    <div class="logo">
        AOS-UserBundle
    </div>
    <div class="login">

        <div class="form-login">
            <p>{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</p>
        </div>
    </div>
</div>
